body {
    min-height: 100vh;
	display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    background-color: #fff;
}

header {
    flex: 1;
    display: flex;
}

main {
    flex: 8;
    background-color: tomato;
}

footer {
    flex: 3;
    display: flex;
    background-color: plum;
}