/* 
    # Paleta de cores:
    - #232323
    - #FF3D2C

*/

body {
    min-height: 100vh;
	display: flex;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    color: #232323;
    background-color: #fff;
}

header {
    flex: 1;
    display: flex;
}

main {
    flex: 9;
    background-color: tomato;
}

footer {
    flex: 2;
    display: flex;
}

a {
    color: #232323;
    text-decoration: none;
}

a:hover {
    color: #FF3D2C;
}