footer section:nth-child(1) {
    flex: 1;
    background-color: antiquewhite;
}

footer section:nth-child(2) {
    flex: 8;
    background-color: aqua;
}

footer section:nth-child(4) {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
