.header_logo {
    display: flex;
    flex: 1;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}

.header_menu {
    flex: 4;
    display: flex;
    justify-content: flex-end;
}

.header_nav {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_menu--link {
    display: flex;
    align-items: center;
}

/* Botão */
.header_menu--botao-saltitante {
    animation: header_menu--botao-saltitante 5s infinite linear;
    position: relative;
}

@keyframes header_menu--botao-saltitante {
    0% { top: 0em; }
    40% { top: 0em; }
    43% { top: -0.9em; }
    46% { top: 0em; }
    48% { top: -0.4em; }
    50% { top: 0em; }
    100% { top: 0em; }
}