h2 {
    font-size: 1.5rem;
    color: #2b2b2b;
}

nav ul {
    width: 200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #c8c8c8;
}

nav li a {
    display: block;
    color: #2b2b2b;
    padding: .5rem;
    margin-top: 1em;
    text-decoration: none;
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #2b2b2b;
    color: #c8c8c8;
}

.material-icons {
    color: #c8c8c8;
}